.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.display-container {
  flex-grow: 2.1;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.register-container {
  flex-grow: 1;
  padding: 10px;
  background: #ffffff;
  max-width: 400px;
  min-width: 320px;
  padding: 4rem 4rem;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.preview-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
